    /* Application-wide Styles for onselect */
/*    h1 {
      color: #369;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 250%;
    }
    h2, h3 {
      color: #444;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
    }
    body {
      margin: 2em;
    }
    body, input[text], button {
      color: #888;
      font-family: Cambria, Georgia;
    }
    * {
      font-family: Arial, Helvetica, sans-serif;
    }*/

/* AppComponent's private CSS styles */
    
h1 {
  font-size: 2em;
  color: black;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}

span{
padding-left: 15px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

.center {
  margin: auto;
  width: 30%;
  text-indent: 1%;
  padding-top: 10px;
}

.info {
  margin: auto;
  width: 30%;
}

.main{
  text-align: center;
  padding-bottom: 10px;

}
.top{
  overflow: hidden;
  width: 100%;

  align-content: left;
  text-align: left;
  
  background-color: #33cccc;
  background-size: auto 100%;
}

.padding{
  padding: 10px;
}

@media (max-width: 600px) {
  .info {
     width: 70%;
    font-size: 10px;
    max-height: 75px; 
  }
  .center {
     width: 70%;
    font-size: 10px;
    max-height: 75px; 
  }
}
@media (max-width: 1024px) {
  .info {
      
  }
}