	
	<div class="top">
		 <!-- <h1 class="main">
		   Welcome to {{ title }}!
		 </h1> -->

		<nav class="main">
			<a routerLink="/dashboard">Home</a> <span><a routerLink="/heroes">Edit List</a></span>
		</nav>
	</div>

	<div class="randomizer">
		  <span><button (click)="random()">
		    Pick a food!
		  </button></span>

		  <span id="randomfood">______</span>
	</div>

<!-- 	<div *ngIf="router.url === '/dashboard'" class="center"> 		
		The idea of the site is to have it randomly pick a type of food to eat based
		on a list of places (either default or user customized). Useful for indecisive significant others.
		WORK IN PROGRESS<br><br>

	</div>

	<div *ngIf="router.url === '/dashboard'" class="info">
		-Logging info is displayed bottom right <br>
		-Youll probably only appreciate this if your a software dev (maybe) :)<br>
		-Built with angularJS, nodeJS, postgresql, heroku
	</div> -->

	<div class="padding">
		<!-- routes user around site --, app-routing-module (imported into app module, into app component) defaults this to dashboard, but this will get switched out depending on routing links-->
		<router-outlet></router-outlet> 

		<!-- <app-messages ></app-messages> --> <!--  displays debug messages for async calls -->
	<div>

		<!-- *ng-if="routeSnap === '/dashboard'" -->
